[simple-aws]
# AWS access key identifier
aws_access_key =
# AWS secret access key
aws_secret_key =
# default image identifier to launch
aws_image_id = ami-6ac2a85a
# default instance type to launch
aws_instance_type = t1.micro
# default region to connect to
aws_region = us-west-2
# default security group to use
aws_security_group = sosecure
# name of key file to use for instance filtering
aws_key_name = sosecure-key
# path to the key file
aws_key_path = ~/.ssh/sosecure-key.pem